<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.api.mapper.TUserMapper">

<!-- 通用查询映射结果 -->
<resultMap id="BaseResultMap" type="com.alibaba.api.business.provider.TUser">
    <id column="user_id" property="userId" />
    <result column="user_name" property="userName" />
    <result column="password" property="password" />
    <result column="phone" property="phone" />
</resultMap>

<!-- 通用查询结果列 -->
<sql id="Base_Column_List">
        user_id, user_name, password, phone,pay_type
    </sql>

    <select id="findUserByParams" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from
        t_user
        where
        user_name=#{username}
    </select>
    <insert id="addUser" parameterType="com.alibaba.api.business.provider.TUser">
        insert into t_user(user_id,user_name,password,phone,pay_type)
        value
        (#{userId},
        #{userName},
        #{password},
        #{phone},
        #{payType,javaType=com.alibaba.api.common.enums.PayType}
        )

    </insert>

</mapper>

